{#
/**
 * Click and Collect plugin for Craft CMS 4.x
 *
 * Add drop in Click and Collect functionality to Craft Commerce.
 *
 * @link        https://burnthebook.co.uk
 * @author      Michael Burton <mikey@burnthebook.co.uk>
 * @since       0.0.1
 * @copyright   Copyright (c) 2022 burnthebook
 */
#}
{% extends "_layouts/cp" %}

{% set title = (collectionTime.id ? 'Edit' : 'New') ~ ' Collection Time' %}
{% set selectedSubnavItem = 'collection-times' %}

{% block content %}
<h1>{{ title }}</h1>

<form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ redirectInput('craft-commerce-click-and-collect/collection-times') }}
    {{ hiddenInput('action', 'craft-commerce-click-and-collect/collection-times/save') }}
    {{ hiddenInput('collectionTimeId', collectionTime.id ?? null) }}

    {% include 'craft-commerce-click-and-collect/cp/collection-times/_form' %}

</form>
{% endblock %}